body {
  font-size: 14px; }
  body a {
    color: #3bbfce; }
  body em {
    opacity: 0.3;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); }

